# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/

# Environment
.env

# Ruff
.ruff_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Logs
*.log